.popup {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:var(--color-light);
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.5s linear;
}
