.section-cards__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  max-width: calc(100% - 42px);
  justify-content: start;
  overflow: hidden;
}
@media screen and (max-width: 1370px) {
    .section-cards__list {
        padding-left: 24px;
    }
}