.titleBlock {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(414px, 1fr);
  grid-template-areas:
    'link'
    'title'
    'text'
    'image';
  font-family: 'Neue Machina';
  font-style: normal;
  color: var(--color-dark);
}

.titleBlock__container {
  width: 100%;
  display: block;
  /* width: 414px; */
  overflow: hidden;
  align-self: center;
}

@media screen and (min-width: 730px) {
  .titleBlock {
    grid-template-areas:
      'link link title title'
      'text text image image'
      'text text image image';
  }
}
