.section-cards__btn_link_reading::before {
    content: "";
    position: absolute;
    right: 16px;
    top: 16px;
    width: 21px;
    height: 21px;
    background: url("../../../../img/btn-arrow.svg") center/contain no-repeat;
    transform: rotate(135deg);
}