.section-subtitle {
    font-family: Formular, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -.01em;
    color: #242424;
    font-feature-settings: 'ss01' on;
    max-width: 716px;
    margin: 55px auto 0;
}