.popup__figure {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0;
}

@media screen and (max-width: 770px) {
    .popup__figure {
        align-items: flex-end;
        flex-direction: column;
    }
}