.block-with-link__wrapper-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 880px) {
    .block-with-link__wrapper-text {
        flex-direction: column;
        align-items: start;
        margin-left: 62px;
    }
}