.header {
    height: 62px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    border-bottom: solid 1px var(--color-dark);
}
@media screen and (max-width: 1400px) {
    .header {
        height: 80px;
    }
}
@media screen and (max-width: 800px) {
    .header {
        height: 62px;
    }
}
@media screen and (max-width: 670px) {
    .header {
        height: 72px;
        border: none;
    }
}

