.popup__btn {
  position: relative;
  padding: 0;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
}
