.popup__btn_close {
    position: absolute;
    right: 115px;
    top: 16px;
    width: 41px;
    height: 41px;
    background-image: url(../../../../images/btn-cross.svg);
    background-size: 9px
}

/* @media screen and (max-width: 540px) {
    .popup__btn_close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
}
} */