.popup__btn_close {
  z-index: 2;
  position: absolute;
  right: 99px;
  top: 16px;
  width: 41px;
  height: 41px;
  background-image: url(../../../../images/btn-cross.svg);
  background-color: var(--color-light);
  background-size: 9px;
  transition: 1s;
}

.popup__btn_close:hover {
  transform: rotate(180deg);
}

@media screen and (max-width: 770px) {
  .popup__btn_close {
    right: 71px;
    top: 7px;
    width: 20px;
    height: 20px;
  }
}
