.footer__text {
    font-family: 'Formular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-dark);
    margin: 0;
    max-width: 231px;
}