.link_right {
  padding-left: 15px;
  border-left: 1px solid var(--color-dark);
}

.link_right:before {
  left: -1px;
}

.link_right:after {
  left: -1px;
  background-image: url(../../../image/arrow-right.svg);
}
