.titleBlock__container {
  width: 100%;
  display: block;
  overflow: hidden;
  align-self: center;
}

@media screen and (min-width: 657px) {
.titleBlock__container {
  min-width: 300px;
}
}

@media screen and (min-width: 850px) {
.titleBlock__container {
  min-width: 414px;
}
}