.mobile-hamb {
    display: none;
    height: 62px;
    width: 62px;
    border: none;
    background: var(--color-dark) url("../../img/hamb.svg") center/20px no-repeat;
}
@media screen and (max-width: 800px) {
    .mobile-hamb {
        display: block;
    }
}
@media screen and (max-width: 670px) {
    .mobile-hamb {
        height: 72px;
        width: 72px;
    }
}
