.footer__design-author {
    max-width: 140px;
    margin: 0;
    font-family: 'Formular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-dark);
    text-decoration: none;
}

.footer__design-author:hover {
    text-decoration: underline;
}