.show__btn {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 975px) {
  .show__btn {
    grid-column: 1/3;
    flex-direction: row;
    margin: 0 0 16px 0;
  }
}