.title-block__img {
  justify-self: center;
  grid-area: image;
}

@media screen and (min-width: 730px) {
  .title-block__img {
    max-width: 100%;
  }
}

@media screen and (min-width: 850px) {
  .title-block__img {
    max-width: 100%;
  }
}
