.photos__title {
    max-width: 600px;
    margin: 0 0 46px 363px;
    padding: 0;
    font-family: 'Neue Machina';
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: var(--color-dark);
}
@media screen and (max-width: 1150px){
    .photos__title {
        max-width: 400px;
        margin: 0 auto 46px auto;
    }
}
@media screen and (max-width: 670px){
    .photos__title {
        max-width: 366px;
        margin: 0 0 26px 24px;
        font-size: 28px;
        line-height: 32px;
    }
}