.header__nav-item {
  color: var(--color-dark);
  text-decoration: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.header__nav-item:hover {
  opacity: .6;
}

@media screen and (max-width: 1400px) {
    .header__nav-item {
        margin: 5px 32px;
    }
}
@media screen and (max-width: 970px) {
    .header__nav-item {
        margin: 5px 10px;
    }
}